
body{
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: arial;
}
a{
  text-decoration: none;
  color:white;
}
#songInfo{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  height: 75px;
  width: 26%;
  padding:5px;
}
#songInfo h4{
  margin: 5px;
  color:white;
  display:inline-block;
  width: 57px;
}
#songInfo span{
  display: inline;
  color:white;
}

#musicPlayer{
  position: absolute;;
  width: 60%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  overflow: scroll;
  color:white;
}

#controls{
  width: 50%;
  /*background-color: blue;*/
  margin: 0 auto;
}
#controls i{
  margin: 0 15px;
}
#playlist{

  /*padding: 0 40%;*/
  display: block;
  height:280px;
}
#playlist ul{
  margin-top: 10px;
  list-style-type: none;
  /*display: inline-block;*/
}
#playlist ul li{
  font-weight: bold;
  margin: 5px;
  text-transform: capitalize;
}
#playlist h4{
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
  display:inline-block;
  width:100%;
}
#playlist #rightPlaylist h4{
  width:70%;
}
#leftPlaylist{
  display:inline-block;
  margin:0 auto;
  float:left;
  width:150px;
  height:280px;
  overflow: scroll;
}
#rightPlaylist{
  display: inline-block;
  margin:0 auto;
  width: 150px;
  height:280px;
  overflow: scroll;
}
#centerContainer{
  /*position: relative;*/
  width:300px;
  margin:0 auto;
}
#playlistButton{
  margin:0 auto;
  float:left;
}

#progressContainer{
  margin:0;
  height:20px;
  width:425px;
  position: absolute;
  bottom:10px;
  background-color:rgba(0,0,0,0.7);
}
#songProgress{
  margin:0;
  height: 20px;
  width:  20px;
  position: absolute;
  bottom: 0px;
  color:white;
  /*background-color: yellow;*/
  /*animation-play-state: paused;*/
}
#thanksbro{
  color:white;
  position: absolute;
  bottom:0;
  right:0;
}
/*.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}*/
